<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="/static/css/header.css">
<script type="text/javascript">
window.onload = function(){
	document.querySelector("#btnOk").onclick = chkFunc;
}
function chkFunc(){
	//alert('a');
	if(frm.bt_pwd.value === ""){
		alert('비밀번호를 입력하시오');
		frm.bt_pwd.focus();
		return;
	}
	if(frm.title.value === ""){
		alert('제목을 입력하시오');
		frm.title.focus();
		return;
	}	
	frm.submit();
}
</script>
</head>
<style>
/*인덱스*/
botton{border-radius:0 !important;}
.btn{border-radius:0 !important;}
.darkBtn{border-radius:0 !important;}
a{text-decoration:none; color:#000;}
td{padding-right:0 !important; padding-left:0 !important;}
.mb-10{margin-bottom:10px;}
td:nth-child(1){width:10%;}
td:nth-child(2){width:50%;}
td:nth-child(3){width:10%;}
td:nth-child(4){width:20%;}
td:nth-child(5){width:10%;}
h3{font-size:24px; margin-top:50px}
</style>
<body>
{% include 'header.html' %}
<div class="container">
<h3>새글 입력</h3>
<form action="/board/insertok" name="frm" method="post">{% csrf_token %} 
<table class="table">
  <tr>
  	<td>작성자</td>
  	<td><input type="text" name="bt_id" value="{{ request.session.m_id }}" disabled/></td>
  	<td style="display:none;"><input type="hidden" name="bt_id" value="{{ request.session.m_id }}"/></td>
  </tr>
  <tr>
  	<td>비밀번호</td>
  	<td><input type="password" name="bt_pwd"/></td>
  </tr>
  <tr>
  	<td>글제목</td>
  	<td><input type="text" name="title"/></td>
  </tr>
  <tr>
  	<td>글내용</td>
  	<td>
  		<textarea class="txt" rows="15" name="content"></textarea>
  	</td>
  </tr>
  <tr>
  	<td colspan="2" style="text-align: center;">
  		<input type="button" value="등록" id="btnOk" class="btn btn-dark">
  	</td>
  </tr>
</table>
</form>
<script>
setTimeout(function () {
    $('.txt').css({
        'height': 'auto'
    });
}, 100);
</script>
</div>
</body>
</html>