@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

html::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
/*header*/
.rightWrap{position: absolute; right:40px; top:50%; transform:translateY(-50%); cursor:pointer;}
.rightWrap ul{font-size:0; margin-bottom:0 !important; font-family: 'Noto Sans KR', sans-serif !important;}
.rightWrap ul li{display:inline-block; padding-left:15px;}

.rightWrap ul li a{font-size:14px; color:#000000; font-weight:500;}
.header h2 a img{width:50px;}

.header{
	position: relative; 
	width: 100% !important; 
	height:60px; 
	border-bottom:1px solid #ededed;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin: px;
	padding-left:25px;
	display: flex;
	justify-content: left;
	align-items: center;/* 
	background-color: white; #DFEBE4
    opacity:0.8; 20% 불투명도 */
    font-family: 'Noto Sans KR', sans-serif !important;
}
.header h2{margin-bottom:8;}

a{text-decoration:none;}