@charset "UTF-8";
/* @font-face {
    font-family: 'ChivoMono';
    src: url('../fonts/ChivoMono-VariableFont_wght.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
html::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
body{
	/* overflow-x: hidden;
	overflow-y: hidden; */
	/* font-family: 'ChivoMono'; */
	background-color: #ffffff;
	font-family: 'Noto Sans KR', sans-serif !important;
}

/*header*/
/* .rightWrap{position: absolute; right:40px; top:50%; transform:translateY(-50%); cursor:pointer;}
.rightWrap ul{font-size:0; margin-bottom:0 !important;}
.rightWrap ul li{display:inline-block; padding-left:15px;}

.rightWrap ul li a{font-size:16px; color:#000000; font-weight:500;}
.header h2 a img{width:70px; }

.header{
	position: relative; 
	width: 100%; 
	height:60px; 
	border-bottom:1px solid #ededed;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin: px;
	padding-left:25px;
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: white; #DFEBE4
    opacity:0.8; 20% 불투명도
}
.header h2{margin-bottom:8;}

a{text-decoration:none;} */


/* body  */
#wrap{
    min-height: 100%;
    position: relative;
    padding-bottom: 400px;
}

#content-wrap{
	margin: 30px auto 20px;
	padding: 0px auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	 /* 
	background-image: url(/static/images/test.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover; */
}

/* 상단 문구 */

.index_txt p:nth-child(1) {
	margin-top:28px;
	margin-bottom: 0px;
	padding:auto;
	font-size:42px;
	font-weight: bold;
	text-align: center;
}
.index_txt p:nth-child(2){
	text-align: center;
	font-size:17px;
	margin-top:10px;
	padding: 0px;
	width: 600px;
	margin-bottom:28px; 
	color:rgb(107, 118, 132)
}
/* 종목 검색  - 움직이는 버전*/
/* .search-box {
  생략
  background-color: #eee;
  height: 40px;
  padding: 0px;
}
.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #225088;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-txt {
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 40px;
}

.search-box {
  생략
  border-radius: 40px; 추가
}

.search-txt {
  생략
  width: 0; 추가
  transition: 0.5s; 추가
}
.search-box:hover > form .search-txt {
  width: 200px;
  padding-left:20px;
}
.search-box:hover > form .search-btn {
  background: #225088;
} */

/* 종목 검색  - 고정된 버전*/
.search-box {
  /* 생략 */
  background-color: #eee;
  height: 40px;
  padding: 0px;
  border-radius: 40px; 
}
.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #225088;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-txt {
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 14px;
  line-height: 40px;
  width: 230px;
  padding-left:32px;
}

.search-btn:hover{
  background: #94c9e4;
  color: black;	
}

/* footer */
footer{
	position : absolute;
	width: 100%;
    bottom: 0;
}
#img_box{
	width : 70%;
    height: 300px; 
    margin: auto;
    padding: auto;
}
#index_img{
	width : 100%;
    height: 100%; 
    object-fit:contain;
	
}
#bottom_info{
	/* position : absolute; */
	width: 100%;
	height: 70px;
    /* bottom: 0; */
	background-color: #333743;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info_txt{
	font-size:10px;	
	margin-bottom:0px;
	color:white;
}

/* 애니메이션 */
.txt_fadeout{
	animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 1.3s;
}
.input_expend {
  width: 500px;
  transition: 0.8s;
}
.txt_fadein{
	animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2s;
}
/* result */
.result_box{
	margin: 40px auto 0px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
canvas{
	box-shadow:2px 2px 2px 2px #eee;
}
.result1{
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.result1 p{
	/* margin-top:10px; */
	/* border: 1px solid #dcdcdc; */
	width: 350px;
	/* background-color: #dcdcdc; */
	/* border-radius: 8px; */
	text-align: center;
	color : rgb(107, 118, 132)
}
/* .result2{
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
} */
.h3title {
	margin-left:5px;
	margin:40px auto 5px;
	border-bottom:0.5px solid black;
	border-radius:5px;
	padding:5px;
	padding-bottom:8px;
	width:210px;
	font-size: 16px;
}
.h3title span{
	margin-left:3px;
	vertical-align:bottom ;
}