<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
<form name="f1" method="post" id="signupForm">
	{% csrf_token %}
	<table>
	<colgroup>
	<col width="20%">
	<col width="*">
	</colgroup>
		<tbody>
			<tr>
			    <th>아이디</th>
			  	<td><input type="text" name="id" value="{{ request.session.m_id }}" disabled/></td>
			  	<td><input type="hidden" name="id" value="{{ request.session.m_id }}"/></td>
			</tr>
			<tr>
		        <th>현재 비밀번호</th>
		        <td><input type="password" name="pwd" placeholder="비밀번호를 입력하세요."></td>
		    </tr>
			<tr>
			    <th>이름</th>
			    <td><input type="text" name="name" value="{{ profile_data.name }}"></td>
			</tr>
			<tr>
		  		<th>핸드폰</th>
		  		<td><input type="text" name="phone" value="{{ profile_data.phone }}"></td>
			</tr>
			<tr>
			    <th>이메일</th>
			    <td><input type="text" name="email" value="{{ profile_data.email }}"></td>
			</tr>
			<tr>
			    <th>가입일</th>
			  	<td><input type="text" name="regdate" value="{{ profile_data.reg_date}}" disabled/></td>
			  	<td><input type="hidden" name="regdate" value="{{ profile_data.reg_date }}"/></td>
			</tr>
		</tbody>
	</table>
<button type="submit" onclick="update()">수정</button>
<button type="button" onclick="location.href='/user/profile'">취소</button>
</form>

<script>
function update() {
    var form = document.f1;
    if (form.pwd.value=="") {
        alert("비밀번호를 입력해 주십시오.");
        form.pwd.focus();
        return;
    }
    if (form.name.value=="") {
        alert("이름을 입력해 주십시오.");
        form.name.focus();
        return;
    }
    if (form.phone.value=="") {
        alert("번호를 입력해 주십시오.");
        form.phone.focus();
        return;
    }
    if (form.email.value=="") {
        alert("번호를 입력해 주십시오.");
        form.email.focus();
        return;
    }
    form.action = "/user/upprofileok";
    form.submit();
}

</script>

{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}
</body>
</html>