<!DOCTYPE html>
<!--header(s)-->
	<div class="header inner17">
		<h2><a href="/"><img src="/static/images/logo.png" alt="" /></a></h2>
		<div class="rightWrap">
			<ul>
	            <li><a href="/board/list">게시판</a></li>
            {% if not 'm_id' in request.session %}
	            <li><a href="/user/join">회원가입</a></li>
	            <li><a href="/user/login">로그인</a></li>
            {% else %}
            {{ request.session.m_id }} 님 어서오세요.
	            <li><a href="/user/profile">마이페이지</a></li>
	            <li><a href="/user/logout">{{ m_id }} 로그아웃</a></li>
            {% endif %}
	      	</ul>
		</div>
	</div>
<!--header(e)-->