<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<!-- custom CSS -->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css">  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/index.css">
<style>
a{text-decoration:none;}
</style>
</head>
<body style="width:100%; margin:0 auto;">
	{% include 'header.html' %}
	
	{% if message %}
	<script>alert('{{ message }}');</script>
	{% endif %}
</body>
</html>