{% load humanize %}

{%if NotFound%}
<span>{{NotFound}}</span>
{%else%}
<div class="result1">
  <canvas id="myChart" style="width: 700px; height:350px;"></canvas>
  <p>다음날 예측 종가는 <span style="color:#225088">{{result|intcomma}}</span> 입니다.</p>
</div>
<img src="/static/images/{{url}}.png"  width=500, height=400 >
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
	  type:'line',
	  data:{
		  labels: [
			  {%if result_date%}
				  {% for date in result_date %} 
				  	"{{ date|slice:'5:' }}", 
				  {% endfor %}
		      {%endif%}
		  ],
		  datasets: [
		    {
		      label: '',
		      data: [
				  {%if real_Close%}
			    	  {% for data in real_Close %}
			             "{{ data}}",
			      	  {% endfor %}
			      {%endif%}
		      ]
		    },
		    {
		      label: '',
		      data: [
				  {%if pred_Close%}
			    	  {% for data in pred_Close %}
			             "{{ data}}",
			      	  {% endfor %}
			      {%endif%}
		      ]
		    }
		  ]
		},
		options:{
			responsive: false,
	        plugins: {
	         	  legend: {
	         		//position : 'top', //label 위치
	             	display: false //label 안 보이도록
	            },
	            title: {
	              display: true,
	              text: (ctx) => '100일 종가', //title 생성
	            }
           },
 /*           layout: {
	           	padding: {
	           		top : 40 //레이아웃 수정
	           	}
           }, */
           scales: {
        	   x: {
        		   title: {
						display: true,
       	        	  	text: 'Day'
       	           },
       	           ticks: {
       	        	   font:{
       	        		   size: 10
       	        	   }       	           		
       	           }
       	       },
       	       y: {
       	           title: {
       	           	   display: true,
       	           	   text: 'Close'
       	           },
       	           ticks: {
       	        	   font:{
       	        		   size: 10
       	        	   }
       	           }
       	       }
       	  }
	   }
  });
</script>
{%endif%}