{% load humanize %}

{%if NotFound%}
<span>{{NotFound}}</span>
{%else%}
<div class="result1">
  <p>다음날 예측 종가는 <span style="color:#225088 ">{{result|intcomma}}</span> 입니다. <br />
    <span id="warning" style="font-size:10px;">투자에 참고로만 활용하시기 바라며,투자에 따른 손실은 투자자 본인에게 귀속됩니다.</span>
  </p>
  <canvas id="close_Chart" style="width: 700px; height:350px;"></canvas>
</div>
<div class="result2">
	<h3 class="h3title">
		<span>감성 그래프 및 워드클라우드</span>
	</h3>
	  <canvas id="sent_Chart" style="width: 700px; height:350px; margin-bottom:30px;"></canvas>
	  <!--<img src="/static/images/{{url}}"  width=700, height=350 style='box-shadow:2px 2px 2px 2px #eee; padding:10px;' >-->
	  <img src="/static/images/{{url}}.png"  width=700, height=350 >
</div>

<script>
  const ctx = document.getElementById('close_Chart');
  const ctx2 = document.getElementById('sent_Chart');

  new Chart(ctx, {
     type:'line',
     data:{
        labels: [
           {% for date in result_date %} 
              "{{ date|slice:'5:' }}", 
           {% endfor %}
        ],
        datasets: [
          {
            label: '',
            data: [
               {% for data in real_Close %}
                   "{{ data}}",
                 {% endfor %}
            ]
          },
          {
            label: '',
            data: [
               {% for data in pred_Close %}
                   "{{ data}}",
                 {% endfor %}
            ]
          }
        ]
      },
      options:{
         responsive: false,
           plugins: {
                 legend: {
                  //position : 'top', //label 위치
                   display: false //label 안 보이도록
               },
               title: {
                 display: true,
                 text: (ctx) => '100일 종가', //title 생성
               }
           },
           layout: {
                 padding: {
                    top : 10 //레이아웃 수정
                 }
           },
           scales: {
              x: {
                 title: {
                  display: true,
                          text: 'Day'
                     },
                     ticks: {
                        font:{
                           size: 10
                        }                           
                     }
                 },
                 y: {
                     title: {
                           display: true,
                           text: 'Close'
                     },
                     ticks: {
                        font:{
                           size: 10
                        }
                     }
                 }
            }
      }
  });
  new Chart(ctx2, {
     type:'line',
     data:{
        labels: [
           {% for date in intensity_date %} 
              "{{ date|slice:'5:' }}", 
           {% endfor %}
        ],
        datasets: [
          {
            label: '',
            fill : true,
            data: [
               {% for data in intensity_df %}
                   "{{ data}}",
               {% endfor %}
            ]
          }
        ]
      },
      options:{
         responsive: false,
         plugins: {
               legend: {
                //position : 'top', //label 위치
                 display: false //label 안 보이도록
             },
             title: {
               display: true,
               text: (ctx) => '감성지수', //title 생성
             }
         },
         layout: {
               padding: {
                  top : 10 //레이아웃 수정
               }
         },
         scales: {
            x: {
               title: {
                display: true,
                        text: 'Day'
                   },
                   ticks: {
                      font:{
                         size: 10
                      }                           
                   }
               },
               y: {
                   title: {
                         display: true,
                         text: 'sent'
                   },
                   ticks: {
                      font:{
                         size: 10
                      }
                   }
               }
          }
      }
  })
</script>
{%endif%}